.container{
    text-align: center;
}

.candidates{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.president{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.officers-placard{
    display: flex;
    height: 300px;
    width: 500px;
    margin: 10px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.imgofficercollege{
    position: absolute;
    background-color: white;
    padding: 5px;
    height: 100px;
    align-self:last baseline;
    border-radius: 0 50px 50px 40px;
}

.officername{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
}

.officercourse{
    font-family: sans-serif;
    font-size: 12px;
    margin-top: -14px;
}

.officerquote{
    margin-top: 30px;
    padding: 20px;
    font-family: sans-serif;
}

.imgvote{
    height: 50px;
}

.votecontainer{
    display: flex;
    margin-top: 20px;
    margin-left: 190px;
}
/*Eto naman is para maging responsive yung website pwede sya sa cp or laptop */


@media screen and (max-width: 360px){

    .stdntldrs{
        margin-top: 40px;
        font-family: sans-serif;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }

    .prsdnt{
        font-family: sans-serif;
        font-weight: bold;
        position: -webkit-sticky; /* Safari */
        position: sticky;
    }

    .officers-placard{
        height: 180px;
        width: 323px;
        border-radius: 30px;
    }

    .imgofficer{
        height: auto;
    }

    .imgofficercollege{
        height: 60px;
    }

    .officername{
        font-size: 10px;
        width: 150px;
        margin-top: 30px;
    }

    .officercourse{
        font-size: 8px;
        margin-top: -8px;
    }

    .officerquote{
        font-size: 10px;
        margin-top: 5px;
        width: 170px;
    }

    .votecontainer{
        margin-top: 0px;
        width: 80px;
        margin-left: 137px;
    }

    .imgvote{
        height: 30px;
    }

    .votetext{
        font-size: 10px;
    }
    
}

/*
@media screen and (max-width: 412px){

    .stdntldrs{
        margin-top: 40px;
        font-family: sans-serif;
    }

    .prsdnt{
        font-family: sans-serif;
        font-weight: bold;
    }

    .officers-placard{
        height: 180px;
        width: 370px;
        border-radius: 30px;
    }

    .imgofficer{
        height: auto;
    }

    .imgofficercollege{
        height: 60px;
    }

    .officername{
        font-size: 15px;
        width: 150px;
        margin-top: 30px;
    }

    .officercourse{
        font-size: 10px;
        margin-top: -12px;
    }

    .officerquote{
        font-size: 12px;
        margin-top: -10px;
        width: 200px;
    }

    .votecontainer{
        margin-top: -15px;
        width: 80px;
        margin-left: 170px;
    }

    .imgvote{
        height: 40px;
    }

    .votetext{
        font-size: 12px;
    }
    
}
