body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.logo{
    border-radius: 20px;
    border-color: black;
}

.isulogo{
    padding-left: 80px;
}

.code{
    height: 30px;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 5px;
    border-color: transparent;
    outline: none;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    text-align: center;
}

/*End of Log In Form */


/*Start of Main Form*/
.container{
    background-color: blue;
}

.president{
    background-color: brown;
}

/*Eto naman is para maging responsive yung website pwede sya sa cp or laptop */
@media screen and (max-width: 375px){
    .isu{
        text-align: center;
    }
    
}